@if (detailsBrand) {
<section>
  <div
    class="md:w-1/4 bg-main-bg p-6 flex items-center justify-center shadow-2xl border-2 my-6 rounded-lg"
  >
    <div class="p-4 gap-6">
      <img [src]="detailsBrand.image" class="rounded-md" alt="" />
      <div>
        <h2 class="text-2xl font-bold">Brand : {{ detailsBrand.name }}</h2>
        <p class="text-lg font-semibold">
          Product Name : {{ detailsBrand.slug }}
        </p>
        <p class="text-lg font-semibold">
          created At : {{ detailsBrand.createdAt }}
        </p>
      </div>
    </div>
  </div>
</section>
}
