<section class="w-2/3 mx-auto bg-main-bg p-4 rounded border-2 shadow-md mb-4">
  <h1 class="font-bold text-main-color text-2xl text-center py-3">
    Forget Password
  </h1>
  @if (step == 1) {
  <form [formGroup]="verifyEmail" (ngSubmit)="verifyEmailSubmit()" class="">
    <div>
      @let emailControl = verifyEmail.get('email');
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Abdelaziz19@gmail.com"
        required
      />
      @if(emailControl?.errors && emailControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium"
            >Ensure that these requirements are met:</span
          >
          <ul class="mt-1.5 list-disc list-inside">
            @if (emailControl?.getError('required')) {
            <li>Please enter your email address.</li>
            }@else if (emailControl?.getError('email')) {
            <li>
              Please enter a valid email address (e.g., exampl{{
                "@"
              }}email.com)
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <button [disabled]="verifyEmail.invalid" class="btn-main">
      Verify Email
    </button>
  </form>
  }@else if (step == 2) {
  <form [formGroup]="verifyCode" (ngSubmit)="verifyCodeSubmit()">
    <div>
      @let verifyCodeControl = verifyCode.get('resetCode');
      <label
        for="resetCode"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Reset Code</label
      >
      <input
        formControlName="resetCode"
        type="text"
        id="resetCode"
        class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      />
      @if(verifyCodeControl?.errors && verifyCodeControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium"
            >Ensure that these requirements are met:</span
          >
          <ul class="mt-1.5 list-disc list-inside">
            @if (verifyCodeControl?.getError('required')) {
            <li>Please enter your Code.</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <button [disabled]="verifyCode.invalid" class="btn-main">
      Verify Email
    </button>
  </form>
  }@else if (step == 3) {
  <form [formGroup]="resetPassword" (ngSubmit)="resetPasswordSubmit()">
    <div class="my-3">
      @let resetPasswordControl = resetPassword.get('email');
      <label
        for="email"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        Email</label
      >
      <input
        formControlName="email"
        type="email"
        id="email"
        readonly
        class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Abdelaziz19@gmail.com"
        required
      />
      @if(resetPasswordControl?.errors && resetPasswordControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium"
            >Ensure that these requirements are met:</span
          >
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetPasswordControl?.getError('required')) {
            <li>Please enter your email address.</li>
            }@else if (resetPasswordControl?.getError('email')) {
            <li>
              Please enter a valid email address (e.g., exampl{{
                "@"
              }}email.com)
            </li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <div>
      @let resetnewPasswordControl = resetPassword.get('newPassword');
      <label
        for="password"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >
        New Password</label
      >
      <input
        formControlName="newPassword"
        type="password"
        id="password"
        class="bg-gray-50 mb-2 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        required
      />
      @if(resetnewPasswordControl?.errors && resetnewPasswordControl?.touched){
      <div
        class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
        role="alert"
      >
        <svg
          class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
          />
        </svg>
        <span class="sr-only">Danger</span>
        <div>
          <span class="font-medium"
            >Ensure that these requirements are met:</span
          >
          <ul class="mt-1.5 list-disc list-inside">
            @if (resetnewPasswordControl?.getError('required')) {
            <li>Please enter your Password.</li>
            }@else if (resetnewPasswordControl?.getError('pattern')) {
            <li>Please enter a valid Password</li>
            }
          </ul>
        </div>
      </div>
      }
    </div>
    <button [disabled]="resetPassword.invalid" class="btn-main">
      Verify Email
    </button>
  </form>
  }
</section>
