<section class="flex flex-col-reverse md:flex-row items-center px-4 md:px-0">
  <div
    class="w-full md:w-1/2 md:me-36 bg-main-bg p-4 rounded border-2 shadow-md"
  >
    <h1 class="text-3xl font-medium text-center text-main-color">
      Register Now
    </h1>
    <form [formGroup]="registerForm" (ngSubmit)="submitForm()">
      <div class="mb-3">
        @let nameControl = registerForm.get('name');
        <label
          for="name"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Name</label
        >
        <input
          formControlName="name"
          type="text"
          id="name"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Abdelaziz Mohamed"
          required
        />
        @if (nameControl?.errors && nameControl?.touched ) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              @if (nameControl?.getError('required')) {
              <li>Name is required</li>
              } @else if (nameControl?.getError('minLength')) {
              <li>Name Should be more than or equal 3 chars</li>
              } @else if (nameControl?.getError('maxLength')) {
              <li>Name Should be less than or equal 20 chars</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-3">
        @let emailControl = registerForm.get('email');
        <label
          for="email"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Email</label
        >
        <input
          formControlName="email"
          type="email"
          id="email"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Abdelaziz19@gmail.com"
          required
        />
        @if (emailControl?.errors && emailControl?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              @if (emailControl?.getError('required')) {
              <li>Please enter your email address.</li>
              }@else if (emailControl?.getError('email')) {
              <li>
                Please enter a valid email address (e.g., exampl{{
                  "@"
                }}email.com)
              </li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-3">
        @let passwordControl = registerForm.get("password");
        <label
          for="password"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Password</label
        >
        <input
          formControlName="password"
          type="password"
          id="password"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
        @if (passwordControl?.errors && passwordControl?.touched ) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              @if (passwordControl?.getError('required')) {
              <li>Password is required</li>
              } @else if (passwordControl?.getError('pattern')) {
              <li>Please enter a valid Password</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-3">
        @let rePasswordControl = registerForm.get('rePassword');
        <label
          for="rePassword"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          RePassword</label
        >
        <input
          formControlName="rePassword"
          type="password"
          id="rePassword"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />

        @if (registerForm.getError('mismatch') && rePasswordControl?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              <li>Password confirmation is incorrect</li>
            </ul>
          </div>
        </div>
        } @if (rePasswordControl?.errors && rePasswordControl?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              <li>RePassword is Required</li>
            </ul>
          </div>
        </div>
        }
      </div>
      <div class="mb-3">
        @let phoneCantrol = registerForm.get('phone');
        <label
          for="phone"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >
          Phone</label
        >
        <input
          formControlName="phone"
          type="tel"
          id="phone"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          required
        />
        @if (phoneCantrol?.errors && phoneCantrol?.touched) {
        <div
          class="flex p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-300 dark:bg-gray-800 dark:text-red-400"
          role="alert"
        >
          <svg
            class="shrink-0 inline w-4 h-4 me-3 mt-[2px]"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="currentColor"
            viewBox="0 0 20 20"
          >
            <path
              d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"
            />
          </svg>
          <span class="sr-only">Danger</span>
          <div>
            <span class="font-medium"
              >Ensure that these requirements are met:</span
            >
            <ul class="mt-1.5 list-disc list-inside">
              @if (phoneCantrol?.getError('required')) {
              <li>Please enter your phone</li>
              }@else if (phoneCantrol?.getError('pattern')) {
              <li>Please enter a valid phone</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <button [disabled]="isLoading" type="submit" class="btn-main">
        SignUp @if (isLoading) {<span
          ><i class="fas fa-spin fa-spinner"></i></span
        >}
      </button>
      <h4>
        You have an account?
        <a class="text-blue-700" routerLink="/login">Sign In</a>
      </h4>
      @if (msgError) {
      <p class="bg-red-500 text-white px-2 py-4 text-center border">
        {{ msgError }}
      </p>
      } @if (isSuccess) {
      <p class="bg-green-500 text-white px-2 py-4 text-center border">
        {{
          "🎉 Welcome to Swift Cart, Your shopping experience just got easier. Start exploring amazing deals now! 🛒"
        }}
      </p>
      }
    </form>
  </div>
  <div class="md:w-1/4">
    <img src="/images/regster.jpg" class="md:size-[450px]" alt="" />
  </div>
</section>
