<footer class="bg-main-bg py-10">
  <div class="w-11/12 mx-auto">
    <h2 class="m-0 text-2xl">Get The SwiftCart App</h2>
    <p class="text-gray-500 text-sm py-2">
      We Will Send You a Link, Open it on Your Phone to download the app
    </p>

    <!-- inputs design  -->
    <div class="flex items-center gap-3 text-nowrap">
      <input
        type="email"
        class="bg-gray-50 w-full p-2.5 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-main-color focus:border-main-color block"
        placeholder="Email"
        required
      />
      <button class="btn-main">Share App Link</button>
    </div>

    <hr />

    <!-- footer payment Details Design  -->
    <div class="pay-details md:flex justify-between items-center my-5">
      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Payment partners</h3>
        <img src="/images/amazon-pay.png" width="45px" alt="amazon-pay" />
        <img src="/images/paypal.png" width="45px" alt="paypal" />
        <img src="/images/mastercard.webp" width="45px" alt="mastercard" />
        <img
          src="/images/American-Express-Color.png"
          width="35px"
          alt="American-Express"
        />
      </div>

      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Get Deliveries with SwiftCart</h3>
        <img src="/images/get-apple-store.png" width="75px" alt="apple-store" />
        <img src="/images/get-google-play.png" width="80px" alt="google-play" />
      </div>
    </div>
  </div>
</footer>
